body{
  position: relative;
}
.dashboard-management{
  position: absolute;
  left:200px;
  right:0;
  top:0;
  bottom:0px;
  padding-left: 10px;
  padding-right: 10px;
  
}

#admin-side-menu{
  width: 200px;
  color:white;

  position:fixed;
  top:0;
  bottom:0;
  
}

.admin-menu{
  background-color:$main-color
}
.menu-list a {
  color: #a5b5d6; 
}
.menu-label {
  color:#a5b5d6;
}
.menu-list li ul{
  margin-top:0;
  margin-bottom:0;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition:all 0.2s ease-in-out;
}
.menu-list li ul.is-slide{
  max-height:200px;
  margin-top:0.75rem;
  margin-bottom: 0.75rem;
}